body {
	background: url(gooogle.gil);
	background-color: #fff;
	background-repeat: repeat-x;

	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	font-family: serif;

	margin-top: 4px;
	margin-right: 1px;
	margin-bottom: 3px;
	margin-left: 4px;

	margin-top: 4px;
	margin-right: 1px;
	margin-bottom: 3px;
	margin-left: 1px;

	margin-top: 4px;
	margin-right: 1px;
	margin-bottom: 4px;
	margin-left: 1px;

	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
}

/* SHORTCUTS*/

body {
	background: url(gooogle.gil) #fff repeat-x;
	font: 1em bold italic serif;
	margin: 4px 1px 3px 4px; /* top right bottom left */
	margin: 4px 1px 3px; /* top right and left bottom */
	margin: 4px 1px; /* top and bottom, right and left */
	margin: 1px; /* top, right, bottom and left */
}

